img{
    height: 300px;
}

body {
    margin: 0;
    min-height: 100%;
    background: linear-gradient(135deg, #E76F51, #FEEBE7);
}

.header{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}

.presentation{
    text-align: center;
    padding: 30px;
    font-size: 30px;
h1{
    font-size: 50px;
}
}

.citation-laeti{
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

table{
    flex: 1;
    display: flex;
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    table-layout: fixed;
    margin: auto;
}

td{
    text-align: center;    
    vertical-align: middle;
    padding: 10px 20px; 
    border: 1px solid #ccc;
}

.article{
    text-align: center;
}

.fondant{
    background-color: #F59E0B;
}

.ingredients{
    background-color: #F3E5AB;
}

.photo{
    background-color: #E76F51;
}

.rapportcuisine{
    background-color: #E76F51;
}

.profil{
    background-color: #F59E0B;
}

.gateau{
    background-color: #F3E5AB;
}

@media (max-width: 480px)and(min-width: 320px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 481px)and(max-width: 768px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 769px)and(max-width: 1024px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px)and(max-width:1439){
    body{
        width: 90%;
        margin: 0 auto;
    }
}