html,
body {
    margin: 0;
    min-height: 100%;
    background: linear-gradient(135deg, #E76F51, #FEEBE7);
}



/* le menu sort de l'affichage */
.presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 114, 77);
    padding: 20px;
li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
}

.image-principale{
    width: 100vw;
    height: 400px;
    object-fit: cover;
}

/* Les deux menus à gauche et à droite */
.menu-left,
.menu-right {
    display: flex;
    gap: 20px;
    /* espace entre les liens */
}


/* Le titre centré */
.titre-site {
    flex: 1;
    /* prend la place centrale */
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.image-principale {
    width: 100%;
}

table {
    flex:1;
    display: flex;
    text-align: center;
    width: 100%;
    border-collapse: collapse;

    tr {
        display: flex;

        td {
            width: 33%;
            border-width: 1;
            border: solid;
        }
    }
}

.recettes {
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-decoration: none;
a{
    text-decoration: none;
    color: inherit; 
}
}


.recettes table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}



.recette img {
    position: absolute;
    background-color: brown;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.recette {
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease;
    border-collapse: collapse;
    border: none;
    position: relative;
    padding: 60px;
    min-height: 150px;
    width: 100%;

    .recette th,
    .recette td {
        border-collapse: collapse;
        border: none;
    }
}



.citation {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.unecuisineauthentique {
    display: flex;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    border: none;

    .one {
        background-color: rgb(171, 130, 80);
        border: none
    }

    .two {
        background-color: rgb(239, 213, 229);
        border: none
    }

    .three {
        background-color: rgb(250, 230, 214);
        border: none;
    }
}


.uca {
    text-align: center;
}

.plat1-5{
    background-color: #F59E0B;
}

.plat2-6{
    background-color: #F3E5AB;
}

.plat3-4{
    background-color: #E76F51;
}



.unecuisineauthentique{
p{
    padding: 20px;
    line-height: 1.5em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
}
}

.NA{
    text-align: center;
}


.nosateliers{
    justify-content: center;
    align-items: center;
img{
    width: 80px;
}
}

.nosateliers table{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    align-items: center;
tr{
    height: 33%;
    border: none;
        td{
            width:50%;
            text-align: center;
            border: none;
            vertical-align: middle;
            align-items: center;
        }
}
}

.nosateliers td{
    vertical-align: middle;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.A1{
    background-color: #F3E5AB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    width: 100px;
    height: 300px;
}

.A1 img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.A2{
    background-color: #E76F51;
p{
    vertical-align: middle;
}
}


.A3{
    background-color: #E76F51;
    vertical-align: middle;
h1{
    vertical-align: middle;
}
}

.A4{
    background-color: #F3E5AB;
}

.contacts p{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

@media (max-width: 480px)and(min-width: 320px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 481px)and(max-width: 768px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 769px)and(max-width: 1024px){
    body{
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 1025px)and(max-width:1439){
    body{
        width: 90%;
        margin: 0 auto;
    }
}